.main-container {
    width: 95%;
    margin: auto;
}

.location-container {
    display: flex;
    justify-content: space-between;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.form-check-input:checked {
    background-color: #0e7304 !important;
    border-color: #0e7304 !important;
}

.table_row-data {
    vertical-align: middle;
}